	<meta charset="utf-8" />
	<meta lang="de-DE" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/assets/css/main.css" />
	<link rel="stylesheet" href="/assets/css/highlight-js-theme.min.css" />
	<link rel="stylesheet" href="/assets/css/highlightjs-copy.min.css" />
	<noscript>
		<link rel="stylesheet" href="/assets/css/noscript.css" />
	</noscript>
	<link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
	<link rel="shortcut icon" href="/images/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
	<meta name="apple-mobile-web-app-title" content="Irrenhaus" />
	<link rel="manifest" href="/images/favicon/site.webmanifest" />