<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="#">Minecraft</a>
            <ul>
                <li><a href="/minecraft">Übersicht</a></li>
                <li><a href="/under-construction">Server Info</a></li>
                <li>
                    <a href="#">Wiki &hellip;</a>
                    <ul>
                        <li><a href="/wiki/">Übersicht</a></li>
                        <li><a href="/wiki/funktionen/mining/">Funktionen</a></li>
                        <li><a href="/wiki/wirtschaft/moneten/">Wirtschaft</a></li>
                        <li><a href="/wiki/kampf/monstertypen/">Kampf</a></li>
                        <li><a href="/wiki/zuhause/claims/">Zuhause</a></li>
                        <li><a href="/wiki/mods/voicechat/">Mods</a></li>
                        <li><a href="/wiki/sonstiges/faq/">FAQ</a></li>
                        <li><a href="/wiki/sonstiges/glossar/">Glossar</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/under-construction">DayZ</a></li>
        <li><a href="/under-construction">VRising</a></li>
        <li><a href="/under-construction">Ark Survival Ascended</a></li>
    </ul>
</nav>