<nav id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="#">Minecraft</a>
            <ul>
                <li><a href="/minecraft">Übersicht</a></li>
                <li><a href="/server-info">Server Info</a></li>
                <li>
                    <a href="#">Wiki &hellip;</a>
                    <ul>
                        <li><a href="/wiki/">Übersicht</a></li>
                        <li><a href="/wiki/faq">FAQ</a></li>
                        <li><a href="/wiki/glossar/">Begriffe</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="left-sidebar.html">DayZ</a></li>
        <li><a href="right-sidebar.html">VRising</a></li>
        <li><a href="no-sidebar.html">Ark Survival Ascended</a></li>
    </ul>
</nav>